.place__title {
  width: 460px;
  min-height: 76px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding-bottom: 48px;
  padding-right: 40px;
  grid-column: 1;
  grid-row: 1;
}
