.lead {
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, sans-serif;
  width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1152px) {
  .lead {
    width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .lead {
    width: 768px;
  }
}

@media screen and (max-width: 761px) {
  .lead {
    width: 320px;
  }
}

