.footer__copyright {
  margin: 0;
  width: 186px;
  min-height: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  justify-self: flex-end;
  align-self: flex-end;
  padding-left: 515px;
}

@media screen and (max-width: 1200px) {
  .footer__copyright {
    padding-left: 259px;
  }

}

@media screen and (max-width: 984px) {
  .footer__copyright {
    padding-left: 51px;
  }

}

@media screen and (max-width: 554px) {
  .footer__copyright {
    line-height: 14px;
    padding-top: 16px;
    text-align: left;
  }

}
