.lead__image {
  width: 984;
  height: 615px;
  object-fit: contain;
}

@media screen and (max-width: 1152px) {
  .lead__image {
    width: 928px;
    height: 580px;
  }

}

@media screen and (max-width: 896px) {
  .lead__image {
    width: 786px;
    height: 480px;
  }

}

@media screen and (max-width: 554px) {
  .lead__image {
    width: 320px;
    height: 200px;
  }

}
